.heading
{
    font-family: 'Trebuchet MS';
    color: rgb(223, 244, 115);
    font-size: 23px;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
    margin: 10px;
    padding: 10px;
}

.note
{
    color: black;
    font-size: 18px;
    font-family: 'Arial Narrow';
}

.search
{
    font-size: 18px;
    font-family: Tahoma;
    text-align: center;
}

canvas
{
    border-radius:20px;
    border:"solid" 5px white
}

